
<header class="">
  <div class="container mt-3">
    <div class="row ">
      <div class="col-6 rel ">
        <button type="button" class="btn btn-danger d-flex align-items-center rounded-pill mx-2 butt"><img src="assets/login_FILL0_wght400_GRAD0_opsz24.svg"><span class="icon ">ورود</span></button>
        <button type="button " class="btn btn-danger rounded-pill mx-2 butt1">ثبت نام</button>
      </div>
      <div class="col-6">
        <img  class=" float-end" src= "assets/logo.png">
      </div>
    </div>
  </div>
  <div class="container-fluid d-flex justify-content-between align-items-sm-start align-items-md-start align-items-lg-center  align-items-xl-center align-items-xxl-center mt-3  px-5">

    <div class="navbar navbar-expand-lg  rounded-5 mx-5">
      <div class="col-7 float-start">
        <button type="button"class="navbar-toggler bg-warning mx-3"  data-bs-toggle="collapse" data-bs-target="#navbarhome" >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class=" collapse navbar-collapse " id="navbarhome">
          <ul class="navbar-nav">
            <li class="nav-item me-2">
              <a class="d-flex flex-row nav-link text-color col-2 " href="#">
                <div>
                  <img  src="assets/cottage_FILL0_wght400_GRAD0_opsz48.svg">
                </div>
                <div class="d-flex flex-column">
                  <span>خانه</span>
                  <small class="text-home">HOME</small>
                </div>
              </a>
            </li>
            <li class="nav-item me-2">
              <a class="d-flex flex-row nav-link text-color col-2 " href="#">
                <div>
                  <img src="assets/cottage_FILL0_wght400_GRAD0_opsz48.svg">
                </div>
                <div class="d-flex flex-column">
                  <span>خانه</span>
                  <small class="text-home">HOME</small>
                </div>
              </a>
            </li>
            <li class="nav-item me-2">
              <a class="d-flex flex-row nav-link text-color col-2 " href="#">
                <div>
                  <img src="assets/cottage_FILL0_wght400_GRAD0_opsz48.svg">
                </div>
                <div class="d-flex flex-column">
                  <span>خانه</span>
                  <small class="text-home">HOME</small>
                </div>
              </a>
            </li>
            <li class="nav-item me-2">
              <a class="d-flex flex-row nav-link text-color col-2 " href="#">
                <div>
                  <img src="assets/cottage_FILL0_wght400_GRAD0_opsz48.svg">
                </div>
                <div class="d-flex flex-column">
                  <span>خانه</span>
                  <small class="text-home">HOME</small>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
      <div class="col-4  text-center">
        <form action="">
          <div class="form-control rounded-pill bg-warning-subtle p-0 mb-0 ">
            <input class="form-control bi-border-center bg-warning-subtle rounded-pill border-0 shadow-none " type="text" name="s" placeholder="جستجو کنید . . . ">
          </div>
        </form>
      </div>
    </div>

</header>





<main class="container">

</main>
